@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&display=swap');

/*font-family: 'Bebas Neue', cursive;small*/
/*font-family: 'Lora', serif;big*/

.App{
    display: flex;
    flex-direction: column;
}

body{
    background-color: #0B1D26;
}
